<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="StingrayLoadBalancer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <StingrayLoadBalancer.Properties.Settings>
      <setting name="StingrayConfiguration" serializeAs="Xml">
        <value>
          <StingrayConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <WebFarmSettings>
              <WebFarmName>LoadGenerator</WebFarmName>
              <PoolName>ServerPool_TestWebServers</PoolName>
              <ControlApiUrl>https://sr-si-stmlb01:9090/soap</ControlApiUrl>
              <ControlApiUsername>WFF</ControlApiUsername>
              <ControlApiPassword>G3slo1</ControlApiPassword>
              <DrainingPeriod>600</DrainingPeriod>
            </WebFarmSettings>
          </StingrayConfiguration>
        </value>
      </setting>
    </StingrayLoadBalancer.Properties.Settings>
  </applicationSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
